@{
    ViewBag.Title = "HangNSX";
    
}

@using ElectronicManager.Models;
@model List<NhaSanXuat>

@foreach(var a in Model)
{
   <li>
       <a href="@Url.Action("SanPhamNSX","Home",new {m = @a.MaNSX})"> @a.TenNSX</a>
   </li>
}
